
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Admin Panel
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body
    include navbar
    main.container
      block content
    include footer
    block scripts
