.container.my-3.py-1.border-top.border-bottom.border-5.border-light
  .row
    .col
      i.fa-solid.fa-truck-fast 
      | توصيل خلال 24 ساعة
    .col
      i.fa-solid.fa-money-bill
      | الدفع عند الاستلام
    .col
      i.fa-solid.fa-shield-halved
      | كفاله سنة