.col.text-center.fs-6.p-0
  .card.m-0.rounded-0
    img.insta.p-4(src=`${TheCategory.img}` style=`aspect-ratio: 1 / 1;`)
    span.minCardLineHeight= categoryName
    a.stretched-link(href=`/category/${TheCategory.URLname}`) 