.input-group.bgnav2.border-bottom.border-3.navbar-toggler.shadowUnder.px-4.py-2
  
  button#WFF.border-0.btn.btn-outline-light
    i.fas.fa-search
  input#textBoxEl.form-control.rounded(type='search' placeholder=`${theLanguage.search}` aria-label='Search' aria-describedby='search-addon')

