// actionButtons
.row.mt-4.mb-3.justify-content-center
  .col-lg-8.col-md-12
    .d-flex.justify-content-between.gap-3
      button.btn.btn-primary.flex-grow-1.py-2(onclick="window.createBalanceForm()")
        i.fas.fa-plus-circle.me-2
        span إضافة رصيد جديد
      button.btn.btn-primary.flex-grow-1.py-2(onclick="createPaymentMethodForm()")
        i.fas.fa-plus-circle.me-2
        span إضافة وسيلة دفع جديدة
