// mainContent
.row
  #page-title.d-flex.justify-content-between.align-items-center.px-3.py-2
    h1.page-header.text-overflow.col-md-8 عرض الأرصدة و وسائل الدفع
    .col.d-flex.justify-content-end
      a.btn.btn-primary.btn-labeled.mx-2(href='/manager/dashboard')
        .fa.fa-home
        span الرئيسية
