extends layout

block content
  .main.container
    .d-flex.flex-column
      .col-md-8.col-md-offset-2
        
        .d-flex.justify-content-center
          h1.display-4.m-b-2 تواصل معانا
        .d-flex.justify-content-center
          p تواصل معنا على الواتساب 99501036
        
        .d-flex.justify-content-center
          a(href="https://wa.me/96599501036")
            img.insta(src="/img/upload/contactus.png")
