extends layout


block content
  .main.container
    .ltr

      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;')
      strong
        span(style='font-size:27px;line-height:107%;') FAQ
      br
      br
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | Dear Customer at IT Store co. we believe that the Customer satisfaction is the main core for our company and our services. Therefore, we made our policy simple and easy to understand and please don&rsquo;t hesitate to contact us by WhatsApp: +965-99501036.

        
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') When are you open?
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | We operate around the clock, seven days a week, 365 days a year, including holidays.



      
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') What is the cost of delivery?
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | The delivery charge is 1 KD for most areas, and it may increase to a maximum of 5 KD for more distant locations.
      



      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') Do you offer delivery to my area?
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | We provide delivery services to all areas in Kuwait.
      



      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') When can I expect the delivery of my order?
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | Delivery typically takes between 10 to 24 hours, depending on factors such as the time of day, current traffic conditions, and your location.
      



      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') Is it safe to shop on itcstore.net?
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | When you make a purchase with us, your order is processed over a secure connection using SSL (Secure Socket Layer) technology. This ensures that all the personal information you provide is encrypted, preventing unauthorized access as it travels over the Internet. Encryption is applied to every page within the purchase process, ensuring a secure and safe shopping experience on itcstore.net.
      



      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') Is my Credit Card/Knet information secure?
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | Adhering to the highest industry standards, we neither collect nor store any of your credit card or Knet information on our servers. When making a payment through Knet, you will be securely redirected to the Knet page, where the payment is processed. Only a confirmation of the payment is sent back to us, ensuring that your data never leaves the Knet page. Similarly, for payments made with Visa or Mastercard, a secure connection directs you to Commercial Bank, which processes the payment and sends us a confirmation. We never store your card number using this method.

      



      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') Do I need to be present at home during the delivery of my order?
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | No, it's only necessary for someone to accept and sign for the order.
      



      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') What if my order is missing or I have issue with the products or order?
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | We apologize for any inconvenience. Please contact our customer service line at 99501036, and we will do everything we can to rectify our mistake or the issue.
      



      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') How can I make a payment for my order?
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | You can conveniently pay online using: Knet / Visa
      





    br
    br
    br
    .rtl

      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;')
      strong
        span(style='font-size:27px;line-height:107%;') الأسئلة الشائعة
      br
      br
      
      
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') متى تكونون مفتوحين؟
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | نعمل على مدار الساعة، سبعة أيام في الأسبوع، طوال السنة، بما في ذلك العطلات.



    
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') ما هو تكلفة التوصيل؟
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | تبلغ تكلفة التوصيل 1 دينار كويتي لمعظم المناطق، وقد تزيد إلى حد أقصى قدره 5 دنانير كويتية للمناطق الأكثر بعدًا.



    
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') هل تقدمون خدمة التوصيل إلى منطقتي؟
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | نحن نقدم خدمات التوصيل إلى جميع المناطق في الكويت.



    
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') متى يمكنني توقع توصيل طلبي؟
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | يستغرق التوصيل عادة بين 10 و 24 ساعة، اعتمادًا على عوامل مثل وقت اليوم ومستوى الحركة المرورية وموقعك.



    
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') هل التسوق على itcstore.net آمن؟
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | عندما تقوم بالشراء منا، يتم معالجة طلبك عبر اتصال آمن باستخدام تقنية SSL (Secure Socket Layer). يتم تشفير جميع المعلومات الشخصية التي تقدمها، مما يمنع الوصول غير المصرح به أثناء انتقالها عبر الإنترنت. يتم تطبيق التشفير على كل صفحة ضمن عملية الشراء، مما يضمن تجربة تسوق آمنة وآمنة على itcstore.net.



    
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') هل معلومات بطاقتي الائتمان/Knet آمنة؟
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | وفقًا لأعلى معايير الصناعة، لا نجمع أو نخزن أي من معلومات بطاقتك الائتمانية أو Knet على خوادمنا. عند القيام بالدفع عبر Knet، ستتم إعادة توجيهك بشكل آمن إلى صفحة Knet، حيث يتم معالجة الدفع. سيتم إرسال تأكيد للدفع إلينا فقط، مما يضمن ألا تترك بياناتك أبدًا صفحة Knet. وبالمثل، عند الدفع بواسطة فيزا أو ماستركارد، يتجهك اتصال آمن إلى البنك التجاري، الذي يعالج الدفع ويعيد إلينا تأكيد الدفع. نحن لا نقوم بتخزين رقم بطاقتك باستخدام هذه الطريقة.



    
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') هل يجب أن أكون في المنزل أثناء تسليم طلبي؟
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | لا، فقط يتعين على شخص ما قبول الطلب وتوقيعه.



    
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') ماذا لو كان طلبي ناقصًا أو كان هناك مشكلة في المنتجات أو الطلب؟
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | نأسف على هذا الإزعاج. يرجى الاتصال بخط خدمة العملاء الخاص بنا على الرقم 99501036، وسنقوم ببذل كل ما في وسعنا لتصحيح خطأنا أو المشكلة.



    
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') كيف يمكنني دفع قيمة طلبي؟
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | يمكنك دفع قيمة الطلب عبر الإنترنت باستخدام:



    

    br
    br
