
//.float1
  .row
    .col-2
      a#whatsappLink2(href='https://wa.me/96599501036' style="z-index: 5;")
  
        .float
      
          i.fa-brands.fa-whatsapp.display-1.my-float
    
    //.col-2.px-1
      a#whatsappLink(href='https://wa.me/96599501036' style="z-index: 5;")
        h1.badge.rounded-pill.mt-4(style="font-size:1rem; background-color:#25D366;") كلمنا واتساب






footer.mt-auto.bd-highlight.bgnav.text-white.align-self-baselin

  .d-flex.flex-row.justify-content-evenly.flex-column.flex-md-row-reverse
   

    .p-2.text-center
      p
        strong
          span(style='font-size:19px;') Important Links
      a(href=`/return-and-refund`)
        p.mb-0 Return and Refund Policy
      a(href=`/privacy`)
        p.mb-0 Privacy Policy
      a(href=`/FAQ`)
        p.mb-0 FAQ
         
    .p-2.text-center
      p
        strong
          span(style='font-size:19px;') روابط مهمة
      a(href=`/return-and-refund`)
        p.mb-0 سياسة الإرجاع والاسترداد
      a(href=`/privacy`)
        p.mb-0 سياسة الخصوصية
      a(href=`/FAQ`)
        p.mb-0 الأسئلة الشائعة 
         
    .p-2.text-center
      p
        strong
          span(style='font-size:19px;') تواصل معنا / contact US
      
      p.mb-0 Tel/whatsapp: 90903115
      p.mb-0 email: ITCstorekw@gmail.com
      p.mb-0 خدمة العملاء متاحة من 10 صباحاً إلى 10 مساءً 
      p.mb-0 Customers service form 10 am to 10 pm
         

  .span.bd-highlight.text-center شركة اي تي ستور للتجارة العامة  © 2023


 
