extends layout

block content
  .main
    form(action="/initiate-payment", method="post")
      input(type="number", name="amount", placeholder="Enter Amount")
      input(type="text", name="currency", placeholder="Enter Currency")
      button(type="submit") Initiate Payment
