extends layout

block content
  .container.mt-md-4.pt-4
    .row.justify-content-md-center
      .col-md-6.col-md-offset-3.text-center
        h1.display-4.m-b-2.mb-4 Login
        a(href='/auth/google')
          .gSignInWrapper(ng-show='googleSignIn')
            #customBtn.customGPlusSignIn
              span.icon
              span.buttonText Continue with Google

        div.row.justify-content-md-center
          p.buttonText.mt-2 Or
        

        form(method='POST' action='/login')
          div.form-group
            // label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          div.form-group
            // label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          
          button.btn.btn-primary.btn-block.custom-box-shadow(type='submit') Log in
          
        p.mt-2 Don't have an account?  
          a(href='../register') Create One

        p
          a(href='../forgotPassword') Forgot Password        