extends layout

block content

  .container.text-center
    br
    h2 تم تفعيل برنامج الخصومات
    br
    br
    br
    br
    .d-flex.flex-column.bd-highlight.mb-3
      
        a(href="../")
          button.btn.btn-primary.mx-3.bg-success(type='button') المتابعة للتسوق

    link(rel='stylesheet' href='https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css')
    script(src='https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js')
  df-messenger(project-id='favorable-valor-232713' agent-id='67b95329-e8c4-48a6-989a-4d10e8b806e4' language-code='ar' max-query-length='-1')
    df-messenger-chat-bubble(chat-title='sales chat bot')
  style.
    df-messenger {
    z-index: 999;
    position: fixed;
    bottom: 16px;
    right: 16px;
    }
  
  
    
      
   
    
  