extends layout

block content
  .main.container.ltr

    p(style='font-size:16px;font-family:"Calibri",sans-serif;text-align:center;')
      strong
        span(style='font-size:27px;font-family:"Arial",sans-serif;') Privacy Policy
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Scope
    p
      span &nbsp;
    p
      span
        | This Privacy Policy pertains to the manner in which we handle your personal information in relation to our services provided on the itcstore.net websites. It is applicable to the overall itcstore.net website and its content, as well as other associated websites where this policy is found in the footer of the page. However, certain itcstore.net-branded websites or websites operated by us may be subject to separate privacy policies. The policy that applies to any of our domains or subdomains is always the one displayed in the footer of each website.
    p
      span &nbsp;
    p
      span
        | The privacy practices of our subsidiaries and joint ventures are similar to those outlined in this Privacy Policy. We strive to maintain a consistent set of privacy practices throughout the itcstore.net website, subject to the requirements of applicable law. By accepting the Privacy Policy and User Agreement during registration, you explicitly consent to our collection, storage, usage, and disclosure of your personal information as described in this Privacy Policy. For new users, this Privacy Policy becomes effective upon acceptance, while for others it has been in effect since Aug 16, 2023.
    p
      span &nbsp;
    p
      span &nbsp;
    p(style='font-size:16px;font-family:"Calibri",sans-serif;margin-top:10.5pt;margin-right:0in;margin-bottom:10.5pt;margin-left:0in;vertical-align:baseline;')
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Collection
    p
      span
        | We respect your privacy and allow you to browse our sites without providing any personal information. However, once you decide to provide us with your personal details, you will no longer remain anonymous to us. By sharing your information, you give us consent to store and transfer it on our servers.
    p
      span &nbsp;
    p
      span
        | In order to serve you better, we may gather and retain certain personal information. This includes your email address, physical contact details, transactional information, shipping and billing information, correspondence with us, and additional data collected during your interaction with our sites, services, content, and advertisements. We may also request you to provide further information for authentication purposes or to comply with site policies.
    p
      span &nbsp;
    p
      span
        | Additionally, we may receive information about you from other companies, such as demographic and navigation data. We may also obtain supplementary information from third parties, for example, if you owe us a debt, we may conduct a credit check through a credit bureau, following legal guidelines.
    p
      span &nbsp;
    p
      span
        | It is important to note that we do not knowingly collect information from individuals under the age of thirteen.
    p
      span &nbsp;
    p
      span &nbsp;
    p
      span &nbsp;
    p
      span &nbsp;
    p
      span &nbsp;
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Marketing
    p
      span
        | At itcstore.net, we prioritize your privacy. Rest assured, we never sell or rent your personal information to third parties for their marketing purposes without your explicit consent. However, we may combine your data with information from other companies in order to enhance and personalize our services, content, and advertising. If you prefer not to receive marketing communications from us or participate in our ad-customization programs, you can easily indicate your preference within your profile on itcstore.net or by following the instructions provided with the communication or advertisement.
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Use
    p
      span
        | Our main objective in collecting personal information is to provide you with a secure, seamless, efficient, and tailored experience. By using our services, you agree that we may utilize your personal information to:
    p
      span &nbsp;
    ul(style='list-style-type: disc;')
      li
        span
          | Fulfill the services you have requested and provide customer support whenever necessary.
      li
        span Resolve disputes, collect fees, and troubleshoot any issues that may arise.
      li
        span
          | Prevent potentially prohibited or illegal activities and enforce compliance with our User Agreement.
      li
        span Customize, evaluate, and enhance our services, content, and advertising.
      li
        span
          | Inform you about our services, as well as those offered by our corporate family, through targeted marketing, service updates, and promotional offers, all based on your preferred communication methods.
      li
        span
          | Verify the accuracy of information by cross-referencing it with trusted third parties.
    p
      span &nbsp;
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Our Disclosure of Your Information
    p
      span
        | The information you provide to us may be shared for various reasons, including legal requirements, the enforcement of our policies, responding to claims of rights violation, and protecting the rights, property, and safety of individuals. This disclosure will be done in compliance with applicable laws and regulations.
    p
      span &nbsp;
    p
      span Additionally, we may share your personal information with:
    p
      span &nbsp;
    ul(style='list-style-type: disc;')
      li
        span
          | Other companies under the itcstore.net company umbrella in order to provide joint content and services, detect and prevent illegal activities, and make decisions regarding their products, services, and communications. These affiliated companies will only send you marketing communications if you have specifically requested their services.
      li
        span
          | Service providers that we have contracted with to assist in our business operations, such as fraud investigations, bill collection, and affiliate programs.
      li
        span
          | Third parties to whom you have explicitly requested us to share your information or to whom you have otherwise consented when using a specific service.
      li
        span
          | Law enforcement or government officials when we receive a verified request related to a criminal investigation or alleged illegal activity. In such cases, we may disclose information relevant to the investigation, such as your name, contact details, and browsing history.
      li
        span
          | Other businesses if we plan to merge with or be acquired by them. In such cases, we will ensure that the new entity follows this privacy policy concerning your personal information.
      li
        span
          | We will not disclose your personal information to law enforcement, government officials, or third parties without a subpoena, court order, or similar legal procedure, unless we believe in good faith that such disclosure is necessary to prevent immediate physical harm or financial loss, or to report suspected illegal activity.
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Information You Share on itcstore.net
    p
      span
        | Your User ID is visible across all of itcstore.net and is associated with your activity on the site. If you access our site from a shared or public computer, other individuals who use the computer after you may also be able to see certain information about you, such as your User ID and reminders from itcstore.net.
    p
      span &nbsp;
    p
      span Cookies
    p
      span
        | We utilize &quot;cookies&quot; on select pages to assess web page flow, personalize services, content, and advertising, measure promotional effectiveness, and promote trustworthiness and safety. Here are a few important details about cookies:
    p
      span &nbsp;
    ul(style='list-style-type: disc;')
      li
        span Certain features are accessible solely through the use of cookies.
      li
        span Cookies aid in your identification and the maintenance of your signed-in status.
      li
        span
          | Most cookies are &quot;session cookies&quot; that automatically erase from your hard drive after a session.
      li
        span
          | You can decline our cookies if your browser allows, but this may affect your use of our sites or services.
      li
        span
          | There may be cookies from third parties on certain pages that we have no control over.
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') No Spam, Spyware, or Spoofing
    p
      span
        | We have a zero-tolerance policy regarding spam. Customize your communication preferences on itcstore.net to receive messages as per your liking. Adding other itcstore.net users to your mailing list without their consent, even if they have made a purchase from you, is strictly prohibited. In case of encountering itcstore.net-related spam or spoof emails, kindly forward them to cs@itcstore.net for reporting purposes. We employ automated and manual filtering to detect and prevent spam, viruses, phishing attacks, malicious activity, illegal content, or prohibited content.
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Account Protection
    p
      span
        | Your itcstore.net password is the key to your account. Use a combination of unique numbers, letters, and special characters for maximum security. Do not share your password or personal information with others, as you are responsible for any actions taken on your account. In the event of password compromise, promptly notify itcstore.net and change your password to regain control of your personal information.
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Accessing, Reviewing, and Changing Your Personal Information
    p
      span
        | You can access, review, and modify most of your personal information by signing on to itcstore.net. Generally, we do not manually alter personal information due to the difficulties in remote identity verification. Maintain accurate and up-to-date personal information, updating promptly when changes occur. Public postings may be irreversible. Upon request, we will close your account and delete your personal information in a timely manner, in accordance with applicable law. However, we retain personal information from closed accounts for legal compliance, fraud prevention, fee collection, dispute resolution, problem troubleshooting, investigations, enforcement of the itcstore.net User Agreement, and other lawful actions.
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Security
    p
      span
        | We consider your information as a valuable asset that requires protection. Our servers store your data, and we employ various tools (encryption, passwords, physical security, etc.) to prevent unauthorized access and disclosure of your personal information. Although we strive for utmost privacy protection, it is important to acknowledge that third parties may unlawfully intercept or access transmissions and misuse collected personal information. Therefore, we cannot guarantee complete privacy for your personal information or private communications, despite our rigorous efforts.
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Financial Information
    p
      span
        | When placing an order or accessing personal information, we implement multiple security measures to safeguard your sensitive data. We offer the use of a secure server, and all sensitive/credit information is transmitted through Secure Socket Layer (SSL) technology. This information is then encrypted and made accessible only to authorized individuals with special access rights, who are obligated to maintain confidentiality. Your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers after a transaction is completed.
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') Third Parties
    p
      span
        | This Privacy Policy solely addresses the use and disclosure of information collected by us. If you disclose your information to third parties, different rules and privacy policies may apply. itcstore.net does not control the privacy practices of third parties, and you are subject to their policies. We encourage you to inquire about their privacy policies before sharing personal information.
    p
      span &nbsp;
    p
      strong
        span(style='font-size:21px;font-family:"Arial",sans-serif;') General
    p
      span
        | We reserve the right to amend this Privacy Policy by posting the updated terms on this site. The amended terms take effect automatically after 30 days from the initial posting. Additionally, we will notify you through the itcstore.net Message Center. If you have further inquiries or require assistance, please email us at cs@itcstore.net or write to us at the provided address.
    
