extends layout


block content
  .main.container
    .ltr

      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;')
      strong
        span(style='font-size:27px;line-height:107%;') Return and Refund Policy.
      br
      br
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | Dear Customer at IT Store co. we believe that the Customer satisfaction is the main core for our company and our services. Therefore, we made our policy simple and easy to understand and please don&rsquo;t hesitate to contact us by WhatsApp: +965-99501036.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') Return and Refund Policy.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | You have the right to return and refund for purchased items within 14 calendar days under the following conditions:
      ul(style='list-style-type: disc;')
        li
          | When returning items, they should be in their original packaging and include all original contents, such as accessories and manuals.
        li
          | Returned items (unless they are defective, counterfeit, or tampered with) must be in a condition suitable for resale.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;') You have the right to receive your payment at the same form of purchase payment.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | You have the right to receive the payment in full and we will not deduct any fees.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;') Shipping costs are not refundable.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;') You will be responsible for paying shipping cost for the returning of the items.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | You have the right to receive your refund payments withing 3 days or as per bank or credit card required days.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | If you receive a refund, the cost of return shipping will be deducted from your refund.

    br
    br
    br
    .rtl

      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;')
      strong
        span(style='font-size:27px;line-height:107%;') سياسة الإرجاع والاسترداد.
      br
      br
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | عزيزي العميل في شركة آي تي ستور، نؤمن أن رضا العملاء هو الاساس لشركتنا وخدماتنا. لذلك، قمنا بجعل سياساتنا بسيطة وسهلة الفهم. ويرجى عدم التردد في الاتصال بنا عبر الواتساب: + 965-99501036
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        strong
          span(style='font-size:16px;line-height:107%;') سياسة الإرجاع والاسترداد.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | لديك الحق في إرجاع واسترداد قيمة السلع التي تم شراؤها خلال 14 يومًا من التقويم تحت الشروط التالية:
      ul(style='list-style-type: disc;')
        li
          | عند إرجاع السلع، يجب أن تكون في عبوتها الأصلية وتتضمن جميع المحتويات الأصلية، مثل الإكسسوارات والدليل.
        li
          | يجب أن تكون السلع المُرجعة (ما لم تكن معيبة أو مزيفة أو تم تلاعب بها) في حالة مناسبة لإعادة البيع.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;') لديك الحق في استلام مبلغ المدفوع بنفس طريقة الدفع الأصلية.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | لديك الحق في استلام المبلغ بالكامل ولن نقوم بخصم أي رسوم.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;') رسوم الشحن غير قابلة للاسترداد.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;') سيكون عليك دفع تكلفة الشحن عند إرجاع السلع.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | لديك الحق في استلام مدفوعات استردادك في غضون 3 أيام أو وفقًا لأيام البنك أو البطاقة الائتمانية المطلوبة.
      p(style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;')
        | إذا تم استرداد المبلغ، سيتم خصم تكلفة الشحن من المبلغ المسترد.


    br
    br
