extends layout

block content
  .main.container
    .d-flex.flex-column
      .col-md-8.col-md-offset-2
        
        .d-flex.justify-content-center
          a(href="https://www.tingstorekw.com")
            img.insta(src="/img/upload/shoping-website.png")
        .d-flex.justify-content-center
          a(href="https://www.tingstorekw.com/category/mobile-accessories")
            img.insta(src="/img/upload/mobile-accessories.png")
        .d-flex.justify-content-center
          a(href="https://wa.me/96599501036")
            img.insta(src="/img/upload/contactus.png")
