doctype html
html
  head
    title Image Upload
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    block content
      .container
        h1 Image Upload
        form(action='/images/upload', method='post', enctype='multipart/form-data')
          .form-group
            label(for='image') Upload Image
            input(type='file', name='image', id='image', class='form-control')
          button(type='submit', class='btn btn-primary') Upload

        h2 Uploaded Images
        .row
          if images
            each image in images
              .col-md-4
                .card
                  img.card-img-top(src=image.url, alt='Uploaded Image')
                  .card-body
                    p.card-text #{image.name}
          else
            p No images uploaded yet.

        // New link to the upload to folder page
        a(href='/upload-to-folder', class='btn btn-secondary mt-3') Upload to Folder
        a(href='/upload-webp', class='btn btn-secondary mt-3') Upload and Convert to WebP
        a(href='/all-images', class='btn btn-secondary mt-3') View All Images