doctype html
html
  head
    title Upload to Folder
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    .container
      h1 Upload to Folder
      form(action='/upload-to-folder', method='post', enctype='multipart/form-data')
        .form-group
          label(for='folderName') Folder Name
          input(type='text', name='folderName', id='folderName', class='form-control')
        .form-group
          label(for='image') Upload Image
          input(type='file', name='image', id='image', class='form-control')
        button(type='submit', class='btn btn-primary') Upload
