
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')




button#addRow.col.col-lg-2.mt-4.mx-3(type='button', class='btn btn-primary mb-2') اضف متغير (لون/ حجم الخ)

#variationsContainer

script.
  var productVariations = !{JSON.stringify(product.variations)};