table.table.table-bordered.table-striped.table-hover

  tbody


   
    tr.align-middle
      td خط العرض
      td
        .col.col-lg-8
          input.form-control(placeholder="Name")
    tr.align-middle
      td خط الطول
        
      td
        .col.col-lg-8
          input.form-control(placeholder="Name")