extends layout

block content
  // branchForm.bug
  .main

    .row.min-vh-100.m-0



      .col.background-main
        .row
          #page-title.d-flex.justify-content-between.align-items-center.px-3.py-2
            h1.page-header.text-overflow.col-md-8 اضافة فرع جديد


            .col.d-flex.justify-content-end
              a.btn.btn-primary.btn-labeled.mx-2(href='/manager/branch')
                .fa.fa-list
                span= " إدارة الافرع "

        .row.px-2
          
          
          
          form#bigform(method='POST', action='/manager/add-branch')
            input.form-control(type='text', name='id', itsTab='tab1', value=branch._id).hidden
            .card
              .card-body
                ul.nav.nav-tabs#myTab(role='tablist')
                  li.nav-item(role='presentation')
                    button.theTab.nav-link.active#tab1-tab.active(data-bs-toggle='tab', data-bs-target='#tab1', type='button', role='tab', aria-controls='tab1', aria-selected='true', href='/#') تفاصيل الفرع
                  li.nav-item(role='presentation')
                    button.theTab.nav-link#tab2-tab(data-bs-toggle='tab', data-bs-target='#tab2', type='button', role='tab', aria-controls='tab2', aria-selected='false') اعدادات الطلب
                  //li.nav-item(role='presentation')
                    //button.theTab.nav-link#tab3-tab(data-bs-toggle='tab', data-bs-target='#tab3', type='button', role='tab', aria-controls='tab3', aria-selected='false') ساعات العمل
                  li.nav-item(role='presentation')
                    button.theTab.nav-link#tab4-tab(data-bs-toggle='tab', data-bs-target='#tab4', type='button', role='tab', aria-controls='tab4', aria-selected='false') موقعك
                
                div.tab-content#myTabContent
                  
                  .tab-pane.border.show.active.fade#tab1(role='tabpanel', aria-labelledby='tab2-tab')
                     include includes/branch/tab1.pug
                  .row.tab-pane.border.fade#tab2(role='tabpanel', aria-labelledby='tab2-tab')
                     include includes/branch/tab2.pug
                  //.row.tab-pane.border.fade#tab3(role='tabpanel', aria-labelledby='tab3-tab')
                     //include includes/branch/tab3.pug
                  .row.tab-pane.border.fade#tab4(role='tabpanel', aria-labelledby='tab4-tab')
                     include includes/branch/tab4.pug
  
  
  
                
                  
                .row.justify-content-end
                  .col-auto.mr-auto.mx-3
                    span.text-danger.mt-3#textValidationError
                .row
                  #page-title.d-flex.justify-content-between.align-items-center.px-3.py-2
                    .col.d-flex.justify-content-end
                      button.btn.btn-primary.btn-labeled.mx-2#formbutton(type='submit')
                        .fa.fa-save
                        span= " حفظ "

  script(src='/js/branchForm.js')
  script.
    document.addEventListener("DOMContentLoaded", function() {
    const updateUrlHash = (hash) => history.pushState(null, null, '#' + hash);
    const activateTabAndPane = (tabId) => {
      const targetId = tabId.replace('-tab', '');
      const tabToActivate = document.getElementById(tabId);
      const tabPaneToActivate = document.getElementById(targetId);
  
      if (tabToActivate && tabPaneToActivate) {
        document.querySelectorAll('.theTab').forEach(tab => tab.classList.remove('active'));
        document.querySelectorAll('.tab-pane').forEach(pane => pane.classList.remove('show', 'active'));
  
        tabToActivate.classList.add('active');
        tabPaneToActivate.classList.add('show', 'active');
      }
    };
  
    const tabs = document.querySelectorAll('.theTab');
    tabs.forEach(tab => {
      tab.addEventListener('click', function() {
        const tabId = this.id;
        updateUrlHash(tabId.replace('-tab', ''));
        activateTabAndPane(tabId);
      });
    });
  
    // Check URL hash on load and activate the appropriate tab
    const initialHash = window.location.hash.replace('#', '');
    if (initialHash) {
      activateTabAndPane(`${initialHash}-tab`);
    }
    });

    