table.table.table-bordered.table-striped.table-hover

  tbody


   
    tr.align-middle
      td خط العرض
      td
        .col.col-lg-8
          input.form-control(type='text', name='latitude', placeholder="خط العرض", itsTab='tab1', value=branch.latitude)
    tr.align-middle
      td خط الطول
        
      td
        .col.col-lg-8
          input.form-control(type='text', name='longitude', placeholder="خط الطول", itsTab='tab1', value=branch.longitude)