doctype html
html
  head
    title Upload and Convert to WebP
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    .containers
      h1 Upload and Convert to WebP
      form(action='/test/uploadGoogleCloud-webp', method='post', enctype='multipart/form-data')
        .form-group
          label(for='image') Upload Image
          input(type='file', name='image', id='image', class='form-control')
        button(type='submit', class='btn btn-primary') Upload and Convert
