
#sidebar.sidebar.collapsed
  .sidebar-header.d-flex.justify-content-between.align-items-center.px-3.py-3
    a.navbar-brand(href='/manager')
      img(src='/img/web/arabat-log-banner.png', alt='ARABAT', style='height: 35px;')
    button.btn-close.d-lg-none#closeSidebar(type="button")
  
  .sidebar-content
    include SideBar-content
