.row
  .container-fluid.mt-3
    .row.d-flex.flex-wrap.justify-content-between
      -
        var cards = [
          { number: '1', text: 'الكل', icon: 'fa-shopping-cart' },
          { number: '0', text: 'قيد الاستبدال', icon: 'fa-sync' },
          { number: '0', text: 'قيد التحضير', icon: 'fa-list' },
          { number: '0', text: 'قيد التوصيل', icon: 'fa-truck' },
          { number: '3', text: 'تم الشحن', icon: 'fa-clock' },
        ]
  
      each card, index in cards
        .col-12.col-sm-6.col-md-4.col-lg-2.mb-4
          .card.shadow-sm
            .card-body.text-center.p-3
              .row
  
  
                .col.text-center.align-items-center.mb-2(style='height: 4rem;')
                  h5= card.number
                  span= card.text
  
                .col.text-center.align-items-center.d-flex.justify-content-center.mb-2(style='height: 4rem;')
                  .rounded-circle.bg-primary.d-flex.justify-content-center.align-items-center.mb-2(style='width: 3rem; height: 3rem;')
                    i.fas(class=`${card.icon} fa-lg text-white`)