.row
  #page-title.d-flex.justify-content-between.align-items-center.px-3.py-2
    h1.page-header.text-overflow.col-md-8 إدارة تحسين محركات البحث (SEO)

table.table.table-bordered.table-striped.table-hover

  tbody
    tr.align-middle
      td.col-3
        label.control-label.mx-2(for='input_schedule_interval') اسم العميل
      td.col-9
        label.control-label.mx-2(for='input_schedule_interval') Mega Watt

        
    tr.align-middle
      td.col-3
        label.control-label.mx-2(for='input_schedule_interval') البريد الإلكتروني
      td.col-9
        label.control-label.mx-2(for='input_schedule_interval') aliabbas1117@gmail.com

        
    tr.align-middle
      td.col-3
        label.control-label.mx-2(for='input_schedule_interval') رقم الهاتف
      td.col-9
        label.control-label.mx-2(for='input_schedule_interval') 96566665618

        
    tr.align-middle
      td.col-3
        label.control-label.mx-2(for='input_schedule_interval') اسم البنك
      td.col-9
        label.control-label.mx-2(for='input_schedule_interval') Direct

        
    tr.align-middle
      td.col-3
        label.control-label.mx-2(for='input_schedule_interval') اسم مالك الحساب
      td.col-9
        label.control-label.mx-2(for='input_schedule_interval') Direct Tap


        
    tr.align-middle
      td.col-3
        label.control-label.mx-2(for='input_schedule_interval') رقم الحساب
      td.col-9
        label.control-label.mx-2(for='input_schedule_interval') 

        
    tr.align-middle
      td.col-3
        label.control-label.mx-2(for='input_schedule_interval') رقم الحساب الدولي (IBAN)
      td.col-9
        label.control-label.mx-2(for='input_schedule_interval') 

        