form(action="/manager/merchant/payment" method="POST")
  .row
    #page-title.d-flex.justify-content-between.align-items-center.px-3.py-2
      h1.page-header.text-overflow.col-md-8 إدارة طرق الدفع
      

  table.table.table-bordered.table-striped.table-hover
    tbody
      // Cash Payment
      tr.align-middle
        td.col-3
          label.control-label(for='cashEnabled') كاش
        td.col-9
          .input-group
            // input(type="hidden", name="cashEnabled", value="off")
            label.switch
              input#cashEnabled(type='checkbox', name="cashEnabled", value="on", checked=merchant.cashEnabled ? 'checked' : undefined)
              span.switch-slider.round
            span.checkmark.fas.fa-check(style='display: none;')

      // KNET Payment
      tr.align-middle
        td.col-3
          label.control-label(for='knetEnabled') كي نت
        td.col-9
          .input-group
            // input(type="hidden", name="knetEnabled", value="off")
            label.switch
              input#knetEnabled(type='checkbox', name="knetEnabled", value="on", checked=merchant.knetEnabled ? 'checked' : undefined)
              span.switch-slider.round
            span.checkmark.fas.fa-check(style='display: none;')

  .row
    .col.d-flex.justify-content-end
      button.btn.btn-primary.btn-labeled.mx-2(type='submit')
        .fa.fa-save
        span= " حفظ "
